$color_map: (
    "background": (
        "default": rgb(6,6,6),
    ),
    "typo": (
        "default": rgb(255,255,255),
        "light": rgb(85, 85, 85),
    ),
    "primary": (
        "default": rgb(36, 138, 187),
    ),
    "secondary": (
        "default": rgb(66, 66, 66),
    ),
    "success": (
        "default": rgb(119, 179, 0),
    ),
    "failure": (
        "default": rgb(168, 0, 0),
    ),
);