@import "~sass-bem/bem";
@import "functions";
@import "ui";

html {
  font-family: "Lato", "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
  margin: 0;
  background-color: color("background");
  color: color("typo");
}

#app {
  height: 100vh;
  width: 100vw;
}
