@import "~sass-bem/bem";
@import "functions";

html {
  font-family: "Lato", "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
  margin: 0;
  background-color: color("background");
}

#app {
  height: 100vh;
  width: 100vw;
}

@include block("grid") {
  @include element("container") {
    display: grid;
  }
}

@include block("flex") {
  display: flex;
  flex: 1 1 auto;

  @include element("vertical") {
    flex-direction: column;
    height: 100%;
  }
}

@include block("buttons") {
  @include element("standard") {
    @include state_iter using ($state) {
      @include modifier($state) {
        background-color: color($state);
      }
    }
  }
}

@include block("fields") {
  @include element("select") {
  }

  @include element("password") {
  }
}

@include block("panel") {
  @include state_iter using ($state) {
    @include modifier($state) {
      background-color: color($state);
    }
  }
}