@function color($color, $variant: "default") {
    @if not map-has-key($color_map, $color) {
      @error "color #{$color} does not exist!";
    }
  
    $sub_map : map-get($color_map, $color);
  
    @if type-of($sub_map) != map {
        @error "color #{$color} does not exist!";
    }
    
    @if not map-has-key($sub_map, $variant) {
        @error "variant #{$variant} does not exist on color #{$color}!";
    }
  
    @return map-get($sub_map, $variant);
  }
  
  $state_list: primary secondary success failure;

  @mixin state_iter {
      @each $state in $state_list {
          @content($state);
      }
  }