$baseline: 6px;

$space-sm: $baseline * 0.5;
$space: $baseline * 1;
$space-md: $baseline * 2;
$space-lg: $baseline * 3;
$space-xl: $baseline * 4;
$space-xxl: $baseline * 5;

$spacingSizes: (
  "sm" : $space-sm,
  "base": $space,
  "md": $space-md,
  "lg": $space-lg,
  "xl": $space-xl,
  "xxl": $space-xxl,
)