[package]
name = "t-rust-less-binding"
version = "0.1.0"
build = "build.rs"
edition = "2018"

[lib]
name = "t_rust_less_binding"
crate-type = ["cdylib"]

[build-dependencies]
neon-build = "0.4.0"

[dependencies]
neon = "0.4.0"
t-rust-less-lib = { version = "0.1.0", path = "../../t-rust-less/lib" }
