@use "~@blueprintjs/core/lib/scss/variables" as v;

html {
    font-family: "Lato", "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

.browser-sidebar {
  background-color: v.$dark-gray4;
  display: flex;
  flex-direction: column;
}
