@import "~@blueprintjs/core/lib/scss/variables";

html {
    font-family: "Lato", "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

.browser-sidebar {
  background-color: $dark-gray4;
  display: flex;
  flex-direction: column;
}