@import "~sass-bem/bem";
@import "styles/spacing";

html {
  font-family: "Lato", "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
}

@include block("grid") {
  @include element("container") {
    display: grid;

    @each $spacingSize, $value in $spacingSizes {
      @include modifier("column-gap--" + $spacingSize) {
        grid-column-gap: #{$value};
      }

      @include modifier("row-gap--" + $spacingSize) {
        grid-row-gap: #{$value};
      }

      @include modifier("pad-x--" + $spacingSize) {
        padding-left: #{$value};
        padding-right: #{$value};
      }

      @include modifier("pad-y--" + $spacingSize) {
        padding-top: #{$value};
        padding-bottom: #{$value};
      }
    }
  }

  @include block("flex") {
    display: flex;
    flex: 1 1 auto;

    @include element("vertical") {
      flex-direction: column;
      height: 100%;
    }
  }
}
