name: Build
on: [push, pull_request]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - uses: actions/upload-artifact@v2
      with:
        name: t-rust-less-ui.AppImage
        path: ./dist/t-rust-less-ui.AppImage
  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - uses: actions/upload-artifact@v2
      with:
        name: t-rust-less-ui-setup.exe
        path: ./dist/t-rust-less-ui-setup.exe
