name: Build
on: [push, pull_request]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update apt
        run: sudo apt-get update
      - name: Install deps
        run: sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install packages
        run: yarn install
      - name: Build dist
        run: yarn dist
      - uses: actions/upload-artifact@v4
        with:
          name: t-rust-less-ui.AppImage
          path: ./src-tauri/target/release/bundle/appimage/t-rust-less-ui_*.AppImage
      - uses: actions/upload-artifact@v4
        with:
          name: t-rust-less-ui.deb
          path: ./src-tauri/target/release/bundle/deb/t-rust-less-ui_*.deb

  build_windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - name: Install cert
        run: certutil -user -f -p ${{ secrets.SIGN_PASSWORD }} -importpfx certs/t-rust-less.pfx
      - name: Install packages
        run: yarn install
      - name: Build dist
        run: yarn dist
      - uses: actions/upload-artifact@v4
        with:
          name: t-rust-less-ui.msi
          path: ./src-tauri/target/release/bundle/msi/t-rust-less-ui_*.msi
