name: Build
on: [push, pull_request]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Show
      run: ls -l    
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - name: Show
      run: ls -l dist