name: Build
on: [push, pull_request]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: sudo apt-get install -y libpango1.0-dev libatk1.0-dev libgtk-3-dev libsoup2.4-dev libwebkit2gtk-4.0-dev
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - uses: actions/upload-artifact@v2
      with:
        name: t-rust-less-ui.AppImage
        path: ./src-tauri/target/release/bundle/appimage/t-rust-less-ui_*.AppImage
    - uses: actions/upload-artifact@v2
      with:
        name: t-rust-less-ui.deb
        path: ./src-tauri/target/release/bundle/deb/t-rust-less-ui_*.deb
  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
      env:
        CSC_LINK: ${{ secrets.WIN_CSC_LINK }}
        CSC_PASSWORD: ${{ secrets.WIN_CSC_PASSWORD }}
    - uses: actions/upload-artifact@v2
      with:
        name: t-rust-less-ui.msi
        path: ./src-tauri/target/release/bundle/msi/t-rust-less-ui_*.msi
