name: Build
on: [push, pull_request]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build neon
      run: yarn build:neon
    - name: Build app
      run: yarn build:app
  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build neon
      run: yarn build:neon
    - name: Build app
      run: yarn build:app
