on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
name: Release
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - name: Create sha256sum
      run: sha256sum t-rust-less-ui.AppImage > t-rust-less-ui.AppImage.sha256sum
      working-directory: ./dist
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: ""
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./dist/t-rust-less-ui.AppImage
        asset_name: t-rust-less-ui.AppImage
        asset_content_type: application/x-executable
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./dist/t-rust-less-ui.AppImage.sha256sum
        asset_name: t-rust-less-ui.AppImage.sha256sum
        asset_content_type: text/plain

  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: yarn install
    - name: Build dist
      run: yarn dist
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: ""
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./dist/t-rust-less-ui.msi
        asset_name: t-rust-less-ui.msi
        asset_content_type: application/x-executable
